#jetbrains ide's files
*.iml
.idea
#compiled python
*.pyc
#local dev database
djdb.sqlite
#virtual environment created by runsite.sh script
venv
#DUNNO KNOW WHAT IT IS. Andrey R, what is it?
.DS_Store
CourseRuApp/.DS_Store
