#jetbrains ide's files
*.iml
.idea
#compiled python
*.pyc
#local dev database
djdb.sqlite
#virtual environment created by runsite.sh script
venv
#DUNNO KNOW WHAT IT IS. Andrey R, what is it?
.DS_Store
CourseRuApp/.DS_Store

media/docs/Pc1BNyiosj4.jpg

media/docs/_mUaxBNK37M.jpg

media/docs/cMQbtaDdLNo.jpg

media/docs/cMQbtaDdLNo_1.jpg

media/docs/x_f28fe4e0.jpg

media/docs/0_94fe8_7a4afcbb_orig.png

media/docs/0_94fe8_7a4afcbb_orig_1.png

media/docs/111111111111-u12nq.jpg

media/docs/E3R_FJ3d3BA.jpg
