{% extends "base.html" %}

{% block title %}CourseRu: личный кабинет{% endblock %}

{% block content %}
<p>
    Пользователь <b>{{ User.username }}</b><br>
    {{ UserProfile.status }}
    <a href="{% url django.contrib.auth.views.password_change %}">Сменить пароль</a>
    <hr />
    <p>
    {% if UserCourseOfferings %}
        Список курсов:
        <ul>
        {% for userCourseOffering in UserCourseOfferings %}
            <li><a href="{% url CourseRuApp.views.courseOffering userCourseOffering.course.id, userCourseOffering.id %}">{{ userCourseOffering.course.name }}</a> {{ userCourseOffering.date }}</li>
        {% endfor %}
        </ul>
    {% else %}
        Нет курсов.
    {% endif %}
    </p>
</p>
{% endblock %}