{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Ошибка авторизации</p>
    {% endif %}
    <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}: {{ field }}
                {{ field.errors }}
            </p>
        {% endfor %}
        <p><input type="submit" value="Войти"/></p>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}


<a href="{% url 'django.contrib.auth.views.password_reset' %}" class="pull-right"
   style="width:200px;">Сброс пароля(убрать отсюда)</a>
<a href="{% url 'accounts.views.signup' %}" class="pull-right" style="width:200px;">Зарегистрироваться</a>