{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="row">
        <form action='' method='post' class='form-horizontal'>
            <fieldset>
                <legend>Вход</legend>
                <div class="span6" style="border-right: 1px solid #e5e5e5;">
                    {% include 'form_fields.html' with form=form %}
                    <div class='control-group'>
                        <div class='controls'>
                            <button type='submit' class='btn btn-primary'>Войти</button>
                            <a href="{% url 'django.contrib.auth.views.password_reset' %}" class="btn btn-link">
                                Восстановление пароля
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <span>Нет аккаунта?</span>
                    <a href="{% url 'accounts.views.signup' %}">
                        Зарегистрируйтесь
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}