{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="row">
        <div class="span6">
            {% include 'horizontal_form.html' with form=form legend='Вход' submit='Войти'  %}
            <div class='control-group'>
                <div class='controls'>
                    <a href="{% url 'django.contrib.auth.views.password_reset' %}" class="offset2">
                        Восстановление пароля
                    </a>
                </div>
            </div>
        </div>
        <div class="span6">
            <a href="{% url 'accounts.views.signup' %}" class="btn pull-right" style="width:200px;">
                Зарегистрироваться
            </a>
        </div>
    </div>
{% endblock %}


<a href="{% url 'django.contrib.auth.views.password_reset' %}" class="pull-right"
   style="width:200px;">Сброс пароля(убрать отсюда)</a>
<a href="{% url 'accounts.views.signup' %}" class="pull-right" style="width:200px;">Зарегистрироваться</a>