{% extends "base.html" %}

{% block title %}{{ User.username }}{% endblock %}

{% block content %}
    <div>
        Пользователь <b>{{ User.username }}</b><br>
        <a href="{% url 'django.contrib.auth.views.password_change' %}">Сменить пароль</a>
        <hr/>
        <div>
            {% if Courses %}
                Список курсов:
                <ul>
                    {% for course in Courses %}
                        <li>
                            <a href="{% url 'main.views.course' course.id%}">
                                {{ course.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Нет курсов.
            {% endif %}
        </div>
    </div>
{% endblock %}