{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="row">
        <form action='' method='post' class='form-horizontal'>
            <fieldset>
                <legend>Регистрация</legend>
                <div class="span6" style="border-right: 1px solid #e5e5e5;">
                    {% include 'form_fields.html' with form=form %}
                    <div class='control-group'>
                        <div class='controls'>
                            <button type='submit' class='btn btn-primary'>Зарегистрироваться</button>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <span>Уже есть аккаунт?</span>
                    <a href="{% url 'django.contrib.auth.views.login' %}">
                        Войдите
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}