{% extends "base.html" %}

{% block title %}Курс {{ course.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            <h1>{{ course.name }}</h1>
            <div>{{ course.description }}</div>
        </div>
        <div class="span4">
            <div>{{ course.organisation }}</div>
            <div>{{ course.start_date }} - {{ course.end_date }}</div>
            {% if user.is_authenticated %}
                {% if user.userprofile.is_student %}
                    {% if course in user.userprofile.courses.all %}
                        <a href="{% url 'student.views.course' course.id %}">Страница курса</a>
                    {% else %}
                        <a href="{% url 'student.views.apply_for_course' course.id %}" class="btn">Вступить</a>
                    {% endif %}
                {% endif %}
                {% if user.userprofile.is_instructor %}
                    {% if course in user.userprofile.courses.all %}
                        <a href="{% url 'instructor.views.course' course.id %}">Страница курса</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}