{% extends "base.html" %}

{% block title %}Курс {{ course.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            <h1>{{ course.name }}</h1>
            <div>{{ course.description }}</div>
        </div>
        <div class="span4">
            <div>{{ course.organisation }}</div>
            <div>{{ course.start_date }} - {{ course.end_date }}</div>
            <a href="{% url 'student.views.apply_for_course' course.id%}" class="btn">Вступить</a>
        </div>
    </div>
{% endblock %}