{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <ul class="thumbnails">
        {% for course in courses %}
            <li class="span4">
                <a href="{% url 'main.views.course' course.id %}" style="text-decoration: none;" class="thumbnail course-card">
                    <img src="{{ MEDIA_URL }}{{ course.logo }}" alt="{{ course.name }}" class="course-logo">

                    <div class="caption" style="border-top: 1px solid #dddddd; margin-top: 5px;">
                        <h4>{{ course.name }}</h4>

                        <p class="course-short-description">{{ course.short_summary }}</p>

                        <p>{{ course.organisation }} | {{ course.start_date }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}