{% extends "base.html" %}

{% block title %}CourseRu | {{ course.name }}{% endblock %}

{% block content %}
    <h1>{{ course.name }}</h1>
    <h3>Список файлов</h3>
    {% if documents %}
        <ul>
            {% for document in documents %}
                <li><a href="{{ document.doc.url }}">{{ document.doc.name }}</a> {{ document.appear_date }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет файлов</p>
    {% endif %}
    <hr />
    <h3>Загрузка нового файла</h3>
    <form action="{% url 'instructor.views.upload' course.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}: {{ field }}
                {{ field.errors }}
            </p>
        {% endfor %}
        <p><input type="submit" value="Загрузить" /></p>
    </form>
{% endblock %}